/* Muy.rico Main Style 

Table of Contents

00.Variables and Imports
01.Loading
02.Buttons and links
03.Aside
04.Main content
05.Form
06.Store list
07.Login

*/

/* 01.Loading */
.loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(black, 0.2);
    border-radius: 50%;
    border-top-color: black;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    position: absolute;
    z-index: 1;
}
  
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
  
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* 02.Buttons */

a {
  color: black;
}

/* 03.Aside */
.main-aside {
  background-image: url("/assets/img/imagebkg.png");
  background-size: cover;
  background-position: center center;
  background-color: yellow;
  width: 40%;
  height: 100%;
  position: fixed;
  .logo-login {
    position: relative; 
    left: 15%;
    width: 120px;
  }
}

/* 04.Main content */
.main-content {
  position: absolute;
  width: 60%;
  left: 40%;
}

/* 05.Form */
%input2 {
  background-position: center right;
  padding-right:30px;
  background-size: 30px;
  height: 60px;
}

form {
  &.login {
    input[type="text"] {
      background: url("/assets/img/ic_usuario.png") no-repeat scroll 7px 7px;
    }
    input[type="password"] {
      background: url("/assets/img/ic_contrasena.png") no-repeat scroll 7px 7px;
    }
    input[type="text"], input[type="password"]{
      background-position: center right;
      padding-right:30px;
      background-size: 30px;
      height: 60px;
    }
  }
}

/* 07.Login */
.content-login {
  width: 50%;
  .content-login__logo {
    width: 250px;
  }
}

