$primary: #ffd700;

$theme-colors: (
  "primary": $primary,
  "bg-black": black
);

.line-bottom {
  border-bottom: 5px solid $primary;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';